* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body { 

 display: flex;
 padding: 0;
 height: 100vh;
 align-items: center;
 justify-content: center;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 
}


main { 

    display: flex;
    width:1000px;
    height: calc(100vh - 10px);
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


 section { 

    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100% ;
    gap: 20px;
    box-sizing: border-box;
}



section div { 

    display: flex;
    max-width: 50%;
    max-height: 200px;
    align-items: center;
    align-content: center;
    border-radius: 20px;
}


 .img1 {

    max-width: 90px;
    max-height: 80px;
    border-radius: 50%;
}


.testimonial1 { 
    color: white;
    background-color: black;
    display: flex;
    padding: 20px;
    gap: 5px;
    flex-direction: column;
    align-items: start;
    
}


.testimonial1-data { 

    align-items: center;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 10px;
    max-height: 100%;
    padding: 10px;

}

.testimonial1-personal {

    padding: 10px;
    gap: 1px;
    align-items: flex-start;
    display: flex;
    max-width: 100%;
    flex-direction: column;   
}


.testimonial2 { 
    border: 2px solid black;
    display: flex;
    padding: 20px;
    gap: 5px;
    flex-direction: column;
    align-items: start;
    
}

.img-testimonial3 {
    height: 70%;
    width: 30%;
    border-radius: 10px;
    object-fit: cover;
}


.testimonial3 {

    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: white;
    background-color: black;
    box-sizing: border-box;
}

